.App{
    border: 5px solid rgb(55, 52, 235);
    width : initial;
    height : initial;
    text-align : center;
    background-color : rgb(235, 229, 191);
    padding : 20px;
    margin : 20px;
    justify-content:center;
    font-size:30px;
    
    flex : 1;
    position : absolute;
    top : 25%;
    left : 35%;
}
